

<app-user-nav></app-user-nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Complaint:</label>
                    <textarea name="complaint" [(ngModel)]="complaint" id="" cols="30" rows="5" class="form-control"></textarea>
                   
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()" class="btn btn-success"href="/ul">Submit</button>
                </div>

               
            </div>
        </div>
    </div>
</div>

